table {
  width: 100%;
  border-collapse: collapse;
  background-color: #B6BBC4;
}
th, td {
  padding: 10px;
  text-align: left;
}
input[type="checkbox"] {
  margin-right: 10px;
}


.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  height: 100px;
  padding: 0px 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 17px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .socials {
  margin-left: auto; /* Place les icônes à droite */
}

.footer .socials a {
  margin-left: 10px;
}
