
th, td {
  padding: 10px;
  text-align: left;
}
input[type="checkbox"] {
  margin-right: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne lorsque l'espace est insuffisant */
  justify-content: center; /* Espace entre les cartes et les bords de la fenêtre */
  gap: 5px; /* Espacement horizontal entre les cartes */
  padding: 50px; /* Espace entre les cartes et les bords de la fenêtre (margin) */
}

.favorite-icon {
  position: absolute;
  top: 10px; /* Ajustez cette valeur pour le positionnement vertical */
  right: 10px; /* Ajustez cette valeur pour le positionnement horizontal */
  font-size: 24px; /* Ajustez la taille de l'icône selon vos besoins */
  color: rgb(243, 212, 212);
}

.favorite-active {
  color:rgba(159, 10, 10, 0.596)
}

.favorite-button {
  border: none;
}

.card {
  flex-basis: calc(25% - 15px);
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: none;
}

.card img {
  width: 100%; /* La largeur de l'image doit être de 100% pour remplir la largeur de la carte */
  height: 100%; /* La hauteur de l'image doit être de 100% pour remplir la hauteur de la carte */
  object-fit: cover; /* Optionnel : ajustez la taille de l'image de fond */
  background-repeat: no-repeat; /* Optionnel : empêchez la répétition de l'image de fond */
  /* Autres styles CSS pour votre produit */
}


.card-info {
  position: absolute;
  bottom: 0;
  background: rgba(244, 176, 131, 0.22); /* Fond semi-transparent */
  color: rgb(255, 255, 255);
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card:hover .card-info {
  transform: translateY(0);
}

.description {
  display: none;
  text-align: center;
}

.product-style{
  text-align: center;
  font-size: 20px;
}

.size-style{
  text-align: right;
  font-size: 15px;
  padding-right: 10px;
}

.card:hover .description {
  display: block;
  padding: 10px;
}
.color-input {
/* Style pour les select_tag */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  padding: 8px;
  font-size: 14px;
  color: #333;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  pointer-events: visible;
}


/* Style pour la liste déroulante */
.select-dropdown {

  font-family:sans-serif;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
}

/* Style au survol */
.color-input:hover {
  border-color: rgb(223, 188, 162);
}

/* Style au focus */
.color-input:focus {
  border-color: rgb(223, 188, 162);
}
