#product_category{
border-radius: 15px;
color: #7d7d7d;
}

#product_price{
  border-radius: 15px;
  color: #7d7d7d;
}

#product_title{
  border-radius: 15px;
  color: #7d7d7d;
}

#product_description{
  border-radius: 15px;
  color: #7d7d7d;
}

#product_size{
  border-radius: 15px;
  color: #7d7d7d;
}

#product_sexe{
  border-radius: 15px;
  color: #7d7d7d;
}

#product_couleurs{
  border-radius: 15px;
  color: #7d7d7d;
}

#product_textile_type{
  border-radius: 15px;
  color: #7d7d7d;
}

