<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Nouveau Produit", new_product_path, class: "btn btn-primary" %>

<%# new_product GET    /products/new(.:format)  products#new %>