<%= link_to "Add a new product", new_product_path, class: "btn btn-primary" %>

<div class="cards">
  <% @products.each do |product| %>
    <div class="card">
      <i class="fa-solid fa-heart favorite-icon"></i>
      <%= image_tag(product.image, alt: product.title) %>
      <div class="card-info">
        <h2><%= product.title %></h2>
        <p class="description"><%= product.description %></p>
      </div>
    </div>
  <% end %>
</div>
