<h2 class = "p-2">Toutes les annonces</h2>

<div class="cards">
  <% @products.each do |product| %>
  <div class="card">
    <%= link_to product_path(product) do %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));">
          <p><%= product.title %></p>
        </div>
      <% end %>

  </div>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "Ajouter un nouveau produit", new_product_path %>
<% end %>